.fake-box {
  position: absolute;
  width: 460px;
  height: 320px;
  border: 1.2px solid #000;
  margin: 1rem;
  padding: 20px;
}

.fake-box::before {
  content: " ";
  position: absolute;
  width: 490px;
  height: 350px;
  margin: -0.6rem;
  padding: 7px;
  border: 2px solid #000;
}

.info-box {
  float: left;
  left: 10px;
  width: 280px;
  height: 100px;
  padding: 30px;
  margin: 1rem;
  margin-top: 500px;
  border: 1px solid rgb(20, 18, 18);
  box-shadow: 12px 12px 1px 1px rgb(90, 89, 89);
}
